.pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 100px;
    gap: 30px;
    padding: 20px;
}
.pokedex__img{
    margin-bottom: 20px;
    max-width: 450px;
}

.pokedex__subtitle{
    text-align: center;
    color: var(--color--red);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.pokedex__form{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pokedex__input{

    padding: 5px 5px;
    box-shadow: -1px 2px 5px #0003;
    
    font-size: 1.2rem;
    height: 40px;
    width: fit-content;
}
.pokedex__btn{
   padding: 10px 20px;
    color:white;
    background-color: var(--color--red);
    box-shadow: -1px 2px 5px #0003;
}
.pokedex__btn:hover{
    cursor: pointer;
    filter: brightness(1.2);
}